@model IEnumerable<Restaurant.Models.MenuItem>

@{
    ViewData["Title"] = "Menu Items";
}

<div class="container mt-5 pt-4">
    <h1 class="text-success">Menu Items</h1>

    <p>
        <a asp-action="Create" class="btn btn-success">➕ Create New</a>
    </p>

    <table class="table table-bordered text-center">
        <thead style="background-color: #14532d; color: white;">
            <!-- Dark green -->
            <tr>
                <th>@Html.DisplayNameFor(model => model.First().Name)</th>
                <th>@Html.DisplayNameFor(model => model.First().Price)</th>
                <th>@Html.DisplayNameFor(model => model.First().Category)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@String.Format("{0:C}", item.Price ?? 0)</td>
                    <td>@item.Category</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ItemId" class="btn btn-sm" style="background-color:  #006400;; color: antiquewhite !important;">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.ItemId" class="btn btn-sm" style="background-color: limegreen; color: antiquewhite !important;">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.ItemId" class="btn btn-sm" style="background-color: #dc2626; color: antiquewhite !important;">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
